main{
    background-color: #eee;
    margin:30px 8px; /*30 top bottom, 8 right left*/
    padding: 15px;
    border-radius: 10px;
    display: block;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size:1.0rem;
    line-height: 2.0;
    text-align: center;
}
img{
    max-width: 100%;/*% do rong toi da theo khoi chua*/
}
h1{
    font-size: 4rem;
    margin: 0px;
}
#img-div{
    background-color: white;/*dat mau hinh nen*/
    padding: 20px 20px 5px 20px; /*top right bottom left*/
    border-radius: 10px;
}
h3{
    font-size: 1.7rem;
}
ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
li{
    margin: 16px 0px;
}
